.container.MEGA_SENA
  #resultado_0.resultado
    .titulo-resultado(onclick='expDiv()')
      h2 Resultados
    .conteudo-resultado
      h2 N&ordm; #{concursoUltimo} | #{dataUltimo}
      label
        - var count = 0;
          for dezena in resultado
            .circle= dezena
            - count++;
            if count >= 3
              - count = 0
              <br> 
      hr
      h3 Premiados
      for faixa in ganhadores
        h4 #{faixa[0]}
        p #{faixa[1]}
      h3 Arrecadação total
      p !{valorArrecadado}
  #destaque_0.destaque
    .titulo-destaque(onclick='expDiv()')
      h2#modalidade #{titulo}
      div logotipo
    .conteudo-destaque
      if acumulado===true
        p#acumulou.acumulou Acumulou!
      p.estimativa.estimativa_0 !{valorEstimativa}
      p !{descEstimativa}
      footer
        hr
        .sorteio
          .sorteio.icon.calendar
          .sorteio.dados
            p.sorteio Sorteio
            p#dataHoraSorteio_0.sorteio.conteudo
        .sorteio
          .sorteio.icon.clock
          .sorteio.dados
            p.sorteio Apostas se encerram em
            p#apostasEncerram_0.sorteio.conteudo
  script.
    arrDataSorteio[modalidade.MEGA_SENA_NORMAL] = new Date("#{dataHoraSorteio}");
    arrValorAposta[modalidade.MEGA_SENA_NORMAL] = "#{valorApostaMinima}";
