.container.TIMEMANIA
  #resultado_8.resultado
    .titulo-resultado(onclick='expDiv()')
      h2 Resultados
    .conteudo-resultado
      h2 N&ordm; #{concursoUltimo} | #{dataUltimo}
      label
        - var count = 0;
          for dezena in resultado
            .circle= dezena
            - count++;
            if count >= 4
              - count = 0
              <br>
      if timeCoracao
        .coracao
          .coracao.icon
          .coracao.dados
            p Time do coração
            p.coracao.conteudo #{timeCoracao}
      p.observacao #{observacao} 
      hr
      h3 Premiados
      for faixa in ganhadores
        h4 #{faixa[0]}
        p #{faixa[1]}
      h3 Arrecadação total
      p !{valorArrecadado}
  #destaque_8.destaque
    .titulo-destaque(onclick='expDiv()')
      h2#modalidade #{titulo}
      div logotipo
    .conteudo-destaque
      if acumulado===true
        p#acumulou.acumulou Acumulou!
      else
        p#acumulou.acumulou &nbsp;
      p.estimativa.estimativa_8 !{valorEstimativa}
      p.estimativa-texto !{descEstimativa}
      footer
        hr
        .sorteio
          .sorteio.icon.calendar
          .sorteio.dados
            p.sorteio Sorteio
            p#dataHoraSorteio_8.sorteio.conteudo
        .sorteio
          .sorteio.icon.clock
          .sorteio.dados
            p.sorteio Apostas se encerram em
            p#apostasEncerram_8.sorteio.conteudo
  script.
    arrDataSorteio[modalidade.TIMEMANIA_NORMAL] = new Date("#{dataHoraSorteio}");
    arrValorAposta[modalidade.TIMEMANIA_NORMAL] = "#{valorApostaMinima}";
